img {
    height: 250px;
    width: 250px;
    cursor: pointer;
}

h1 {
    color: #00A2A2;
    font-size: 50px;
    font-weight: 1000;


}

.vehicleType {
    text-align: center;
    font-size: 30px;
    color: #fff;

}


.wholeFetch {
    display: flex;
    gap: 200px;
}

.vehicleCards {
    display: flex;
    gap: 300px;
}

.display-vehicles {
    display: grid;
    place-items: center;
}

.scootersFetch,
.bikesFetch {
    display: flex;
    flex-wrap: wrap;
    gap: 300px;
}

/* .card {
    background-color: rgba(0, 162, 162, 1);
    padding: 10px 20px;
    border-radius: 20px;

} */
.imgV {
    border-radius: 20px;
    width: 400px;
}

.imgSV {
    border-radius: 20px;
    width: 400px;
}

.link {
    color: #fff;
    text-decoration: none;
    font-size: large;
}

.linkb {
    color: #fff;
    text-decoration: none;
    font-size: large;
}

button {
    background-color: #00A2A2;
    width: 300px;
    height: 50px;
    margin-left: 30px;
}

.imgB {
    border-radius: 20px;
    width: 400px;
}

.imgS {
    border-radius: 20px;
    width: 500px;
}

.bikes {
    margin-left: 20px;
}

.scooters {
    margin-left: 20px;
}

.bbrand {
    color: #00A2A2;
    margin-left: 20px;


}

.descrip {
    color: black;
    font-size: 19px;
    margin-left: 80px;


}

.booking-form {
    display: grid;
    justify-content: center;
    margin-right: 100px;


}

.book-page {
    display: flex;
    gap: 200px;
}

.booking-form input {
    display: block;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;


}

.back {
    font-size: 30px;
    text-decoration: none;
}


.booking-form button {
    display: block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #00A2A2;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: large;
}


.payment-success {
    margin-top: 10px;
    font-size: 16px;
    color: green;
}


.paymentdetails {
    margin-top: 50px;
}

.paymentdetails h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.paymentdetails ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.paymentdetails li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.paymentdetails a {
    margin-left: 20px;
    color: #00A2A2;
    text-decoration: none;
}

.paymentdetails li svg {
    margin-left: 5px;
}

.paymentdetails li svg path {
    fill: #333;
}



.bike-images img,
.safety img,
.parking img,
.training img {
    width: 80%;
    height: 70%;
}