body {
  margin: 0;
  padding: 0;
}

.App {
  font-family: 'Helvetica', sans-serif;
  color: #333;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

main {
  padding: 20px;
}

h1 {
  color: #3a3a3a;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin: 40px 0;
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
  background-color: #38f2ec;
  transition: width 0.3s ease-in-out;
}

.bike-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.bike-images img {
  width: 100%;
  border-radius: 10px;
  border-bottom: 2px solid #333;
}

section {
  margin-bottom: 30px;
}

.safety,
.parking,
.training {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 30px;
}

.safety h2,
.parking h3,
.training h7 {

  color: #3a3a3a;
  font-size: 18px;
  margin-bottom: 10px;
}

.safety:hover,
.parking:hover,
.training:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.middle {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.middle h5,
.middle h6,
.middle h3 {
  margin-top: 10px;
}

.middle img {
  width: 100%;
  max-width: 200px;
}

footer {
  background-color: #1cd7a5;
  padding: 10px;
  color: #fbfbfb;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.custom-nav {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.custom-nav ul {
  list-style: none;
  display: flex;
  padding: 0;
}

.custom-nav ul li {
  margin-right: 1rem;
}

.custom-nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem;
  transition: 0.2s;
}

.custom-nav ul li a:hover {
  background-color: #42a5f5;
  border-radius: 4px;
}